/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body, main, section, div, h1, p, label, input, a, ul, li {
  padding: 0;
  border: 0;
  margin: 0;
  outline: 0;

  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;

  box-sizing: inherit;

  background: transparent;
}

/* General Styles */

html {
  color: #4d4d4d;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.44em;
}

ul {
  list-style: none;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.bold {
  font-weight: bold;
}

/* General Button Styles */

.button {
  margin: 0 .25em;
  padding: .7em 1.3em;
  border-radius: .4em;
  background-color: rgba(0,0,0,0.15);
  box-shadow: 0 2px 0 rgba(0,0,0,0.3);
  user-select: none;
  color: white;
}

.button:hover {
  background-color: rgba(0,0,0,0.25);
  box-shadow: 0 2px 0 rgba(0,0,0,0.4);
}

.button.green {
  color: white;
  background: linear-gradient(to bottom, #61bd4f 0, #5aac44 100%);
}

.button.green:hover {
  background: linear-gradient(to bottom, #5aac44 0, #519839 100%);
}

a:not(.button) {
  color: #5e98ba;
  text-decoration: underline;
}

a:not(.button):hover {
  color: #265773;
}

a:not(.button):visited {
  color: #0079bf;
}

a:not(.button):visited:hover {
  color: #0c3953;
}

/* Welcome Page */

.welcome {
  color: white;
  font-size: 20px;

  .small {
    font-size: .8em;
  }

}

.welcome-text-content {
  width: 650px;
  margin: auto;
    text-align: center;

    p, .signup {
      margin: 40px;
    }
}

.welcome-splash {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 580px;
  top: 0;
  background-color: #0079bf;
}

.welcome-splash:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: image-url('welcome-splash.jpg');
  background-size: cover;
  filter: opacity(9%)
}

.welcome-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.75em .75em 1.5em;

  color: #fff;
  font-size: 16px;

  transition: background 1s ease 0s;

  &.scrolled {
    background-color: #0079bf;
  }

  .logo {
    float: left;
    width: 259px;
    height: 40px;
    margin: 0 5px;
    margin-top: -8px;
    background-image: image-url('logo.png');
    background-size: contain;
  }

  .buttons {
    float:right;
  }

}

.welcome-splash-content {

  margin-top: 200px;
  height: 380px;

  h1 {
    font-size: 1.777em;
    font-weight: 600;
    line-height: 1em;
  }

  .login, .login:visited {
    color: white;
    opacity: .8;
  }

  .login:hover, .login:visited:hover {
    color: white;
    opacity: .9;
  }

}

.welcome-tail {
  margin-top: 80px;
  margin-bottom: 100px;
  color: #4d4d4d;

  .button {
    box-shadow: 0 2px 0 #3f6f21;
  }
}

/* Login and Signup Forms */

.user-form {
  width: 560px;
  padding-top: 100px;
  margin: 0 auto;

  .user-errors {
    padding: .5em 1em;
    border: 1px solid #eb5a46;
    border-radius: 4px;
    background: #f5d3ce;
  }

  h1 {
    font-size: 36px;
    font-weight: bold;
    margin: 1.2em 0;

  }

  a {
    color: #0079bf;
    text-decoration: underline;
    cursor: pointer;
  }

  a:hover {
    color: #0c3953;
  }

  p {
    margin-bottom: 1em;
  }

  label, input {
    display: block;
  }

  label {
    font-size: 20px;
    margin-bottom: .5em;
  }

  .quiet, .quiet a {
    color: #999;
  }

  .quiet a:hover {
    color: #333
  }

  .input {
    box-sizing: border-box;
    width: 100%;
    padding: .5em;
    margin-bottom: 1.2em;

    background-color: #edeff0;
    border-radius: 4px;
    border: 1px solid #cdd2d4;
  }

  .input.error {
    background: #fbedeb;
    border: 1px solid #ec9488;
  }

  .input:focus {
    border-color: #a5acb0;
    box-shadow: 0 0 6px #cdd2d4;
  }

  .input.error:focus {
    background: #fbedeb;
    border: 1px solid #ec9488;
    box-shadow: 0 0 6px #ec9488;
  }

  .submit {
    padding: .5em 1.4em;
    margin-bottom: 1em;

    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(to bottom, #61bd4f 0, #5aac44 100%);
    border-radius: 6px;
    box-shadow: 0 2px 0 #3f6f21;

    cursor: pointer;
  }

  .submit:hover {
    background: linear-gradient(to bottom, #5aac44 0, #519839 100%)
  }

}

/* Home Page */

.home-nav {
  padding: 5px;
  background-color: #026AA7;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
