.current-board {

  padding: 10px;

  .board-nav {
    color: white;
  }

  .nav-left li {
    float: left;
  }

  .nav-right li {
    float: left;
  }

  .nav-button {
    padding: 5px 8px;

    cursor: pointer;
    user-select: none;

    &:hover {
      background: rgba(0,0,0,.12);
      border-radius: 3px;
    }
  }

  .title {
    margin-left: 5px;

    font-size: 18px;
    font-weight: bold;

    color: white;
  }

  .visibility {
    font-size: 12px;
  }


}
