.current-board {

  position: relative;
  padding: 10px;
  height: calc(100% - 59px);

  .board-nav {
    color: white;
  }

  .nav-button {
    padding: 5px 8px;

    cursor: pointer;
    user-select: none;

    &.disabled{
      cursor: auto;
    }

    &:not(.disabled):hover {
      background: rgba(0,0,0,.12);
      border-radius: 3px;
    }
  }

  .title {
    margin-left: 5px;

    font-size: 18px;
    font-weight: bold;

    color: white;
  }

  .visibility {
    font-size: 12px;
  }

}

.board-menu {
  position: relative;

  .nav-button.disabled {
    display: none;
  }

  > .menu {
    display: block;
    top: 0;
    right: 0;
    transform: translateX(300px);
    transition: 0.2s ease 0s;

    border-radius: 0;

    &.show {
      transform: translateX(10px);
    }

    > .menu-close {
      top: 0.7em;
      width: 1.5em;
      height: 1.5em;
    }
  }



  .delete-board {
    position: relative;

    .menu {
      width: 260px;
      left: 10px;
      top: 30px;
    }
  }

}
