.cards {
  margin-top: 4px;
}

.card {
  display: block;
  margin-bottom: 6px;
  border-bottom: 1px solid #ccc;
  border-radius: 3px;

  background-color: #fff;

  cursor: pointer;

  &:hover {
    background-color: #EDEFF0;
    border-bottom: 1px solid #D6DADC;
  }

  .card-summary {
    padding: 4px 6px;
  }

}
