.cards {
  margin-top: 4px;

  .card-create {
    padding: 5px 10px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;

    cursor: pointer;
    user-select: none;

    &.disabled {
      cursor: auto;
    }

    &:hover:not(.disabled) {
      background-color: #CDD2D4;
      color: #4d4d4d;
      text-decoration: underline;
    }
  }

  .button.green {
    box-shadow: 0 1px 0 #3F6F21;
  }
}

.card {
  display: block;
  margin: 0 10px 6px;
  border-bottom: 1px solid #ccc;
  border-radius: 3px;

  background-color: #fff;

  cursor: pointer;
  user-select: none;

  &.active {
    background-color: #EDEFF0;
    border-bottom: 1px solid #D6DADC;

    .icon-edit {
      display: block;

      &.hide {
        display: none;
      }
    }
  }

  &.dragging {
    background-color: rgba(0,0,0,.2);

    * {
      visibility: hidden;
    }
  }

  .card-summary {
    padding: 6px 4px 0;
  }

  .icon-edit {
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 12px;
    height: 12px;
    padding: 4px;

    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: image-url('ic_mode_edit_black_24px.svg');
    opacity: 0.4;

    &:hover {
      opacity: 0.8;
      border-radius: 3px;
      background-color: #CDD2D4;
    }
  }

  .card-icons {
    padding: 0 6px 4px;
    display: flex;
    justify-content: flex-start;

    .icon {
      margin-right: 3px;
      width: 14px;
      height: 14px;
      opacity: 0.6;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .comment-count {
    margin-top: -4px;
    margin-left: -2px;
    font-size: 12px;
  }

  .icon-desc {
    background-image: image-url('ic_short_text_black_24px.svg');
  }

  .icon-comment {
    background-image: image-url('ic_mode_comment_black_24px');
    background-size: 75%;
    transform: scaleX(-1);
  }

  textarea {
    display: block;
    width: 100%;
    margin-bottom: 6px;

    border: none;
    border-bottom: 1px solid #ccc;
  }

}

.card-create-form.editable {
  position: relative;
  margin: 0 10px;
  padding-bottom: 5px;

  .button {
    margin: 0;
  }

  .menu-close {
    top: auto;
    right: auto;
    left: 5.2em;
    bottom: 0.8em;
    width: 2em;
    height: 2em;
  }

  .card-title-input {
    margin: 0;
  }

  .button {
    margin-top: 0;
  }

}

.card-quick-edit {
  position: relative;
}

.card-quick-edit-modal {
  align-items: flex-start;
  position: absolute;
  width: 150%;
  top: 0;
  z-index: 2;

  .button {
    padding: 7px 20px;
    border-radius: 3px;
    font-weight: bold;
  }

  .input {
    height: 90px;
    padding: 4px 6px;
    border: none;
    box-shadow: none;
    margin-bottom: 10px;

    background-color: #fff;
    resize: none;
  }

  form {
    float: left;
    width: 66.6%;
  }

  .card-quick-edit-actions {
    float: left;
    padding-left: 10px;

    li {
      padding: 5px 10px;
      border-radius: 3px;

      color: white;
      background-color: rgba(0, 0, 0, 0.5);
      transition: 0.1s ease 0s;

      &:hover {
        background-color: rgba(0, 0, 0, 0.7);
        transform: translateX(5px);
      }
    }
  }
}

.card-detail-modal {
  width: 730px;
  margin: 50px auto 0;
  height: calc(90% - 50px);
  overflow-y: scroll;

  color: #4d4d4d;
  background-color: #EDEFF0;
  border-radius: 3px;

  z-index: 2;

  .menu-close {
    top: .4em;
    right: .4em;
    width: 1.5em;
    height: 1.5em;
    filter: opacity(40%);

    &:hover {
      filter: opacity(70%);
    }
  }
}

.card-detail {
  position: relative;

  h4 {
    padding: 3px 5px;

    font-size: 18px;
    font-weight: bold;
  }

  h5 {
    font-size: 16px;
    font-weight: bold;
  }

  h6 {
    font-weight: bold;

    .inset {
      padding-left: 45px;
    }
  }

  a {
    color: #8c8c8c;
    padding: 2px 5px;


    &:hover {
      color: #4d4d4d;
      background-color: #D6DADC;
      border-radius: 3px;
    }
  }

  .button {
    padding: .5em 1.5em;
  }
}

.card-detail-header {
  padding: 20px 17px 10px;

  p {
    padding: 0 5px;
  }
}

.card-title-editable {
  font-size: 18px;
  font-weight: bold;

  .input {
    width: 95%;
    margin: 0;
    padding: 3px 5px;
    border: none;
    box-shadow: none;
    background-color: #fff;
  }
}

.card-detail-body {
  float: left;
  padding: 0 10px 10px 20px;
  width: 540px;

  font-size: 14px;

  h5 {
    margin-top: 2em;
  }
}

.card-description {
  p {
    white-space: pre-line;
  }
}

.card-description-editable {
  position: relative;

  textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 7px;
    margin-bottom: 4px;
    resize: none;

    background: rgba(0,0,0,.03);
    border-color: rgba(0,0,0,.15);
    box-shadow: inset 0 1px 6px rgba(0,0,0,.1);
  }

  .menu-close {
    top: auto;
    right: auto;
    bottom: 0.45em;
    left: 6em;
  }
}

.card-detail-container {
  position: relative;
  margin: 10px 0 15px;
}

.card-comment-editable {
  flex: 1;
}

.card-comment, .card-comment-textarea {
  box-sizing: border-box;
  padding: 9px 11px;

  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,.23);

  background-color: white;
}

.card-comment-display {
  display: flex;

  .menu-close {
    top: auto;
    right: auto;
    bottom: 0.45em;
    left: 9.2em;
  }
}

.card-comment {
  display: inline-block;
  margin-bottom: 5px;
}

.card-comment-textarea {
  display: block;
  width: 100%;
  height: 6em;
  margin-bottom: 8px;
  resize: none;
}

.card-detail-sidebar {
  float:left;
  width: 130px;
  padding: 0 20px 10px 10px;

  .card-detail-actions li {
    display: block;
    height: 34px;
    margin-top: 6px;
    padding: 0 7px;

    box-sizing: border-box;
    border: 1px solid #E2E4E6;
    border-bottom-color: #CDD2D4;
    border-radius: 3px;

    line-height: 34px;
    background-color: #fff;

    cursor: pointer;

    font-weight: bold;

    &:hover {
      color: #fff;
      background: #298FCA;
      border-color: #298FCA #298FCA #026AA7;
    }

  }
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  background-color: rgba(0, 0, 0, .6);
}
