
/* Home Page */

.home {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  font-size: 14px;
  background-color: rgb(0, 121, 191);

  &.blue {
    background-color: #0079BF;
  }

  &.orange {
    background-color: #D29034;
  }

  &.green {
    background-color: #519839;
  }

  &.red {
    background-color: #B04632;
  }

  &.purple {
    background-color: #89609E;
  }

  &.pink {
    background-color: #CD5A91;
  }

  &.light-green {
    background-color: #4BBF6B;
  }

  &.light-blue {
    background-color: #00AECC;
  }

  &.grey {
    background-color: #838C91;
  }

  a:not(.button) {
    color: #5e98ba;
    text-decoration: underline;
  }

  a:not(.button) {
    color: #265773;
  }

  a:not(.button) {
    color: #0079bf;
  }

  a:not(.button) {
    color: #0c3953;
  }

  a.icon-link {
    color: #444;
    padding: 0;
    margin: 0;
    text-decoration: none;

    &:hover {
      color: #444;
    }

    .user-icon {
      cursor: pointer;
    }
  }
}

/* Menu (used for dropdowns and other popup menus) */

.menu {
  display: none;
  position: absolute;
  z-index: 1;
  width: 280px;
  padding: 10px 0;
  background-color: white;

  font-size: 14px;
  line-height: 1.44em;

  border-radius: 3px;
  border: 1px solid #d6dadc;
  border-bottom-color: #C4C9CC;

  &.show {
    display: block;
  }

  span.small {
    font-weight: normal;
    font-size: 12px;
    line-height: .6em;
  }

  p.small {
    font-weight: normal;
    font-size: 12px;
  }

  a:hover .quiet {
    color: white;
  }

  :not(.quiet) > a:not(.button):not(.icon-link):not(.board-link) {
    display: block;
    padding: 5px 9px;
    color: #444;
    font-weight: bold;
    text-decoration: none;

    cursor: pointer;
    user-select: none;

    &:hover {
      background-color: #298FCA;
      color: #fff;
    }
  }
}

.menu .button, .editable .button {
  display: block;
  margin-top: 0.5em;
  padding-left: 2em;
  padding-right: 2em;

  &.small {
    padding: 0.4em 1.5em;
    font-weight: bold;
    margin-bottom: 5px;
  }
}

.menu-header {
  text-align: center;
  color: #8c8c8c;
  font-weight: normal;

  margin-bottom: 10px;

  cursor: auto;

  &:after {
    content: "";
    display: block;
    margin: 7px 10px;
    border-top: 1px solid #D6DADC;
  }
}

.menu-close {
  display: block;
  position: absolute;
  top: 1.05em;
  right: 1em;
  width: 1em;
  height: 1em;

  background: image-url('ic_close_black_24px.svg');
  background-size: contain;
  filter: opacity(50%);

  cursor: pointer;

  &:hover {
    filter: opacity(80%);
  }
}

.menu-form {
  margin: 7px 0;

  color: #4d4d4d;
  text-align: left;

  &:hover {
    color: #4d4d4d;
  }

  > :not(ul):not(li) {
    margin-left: 10px;
    margin-right: 10px;
  }

  label {
    display: block;
    font-weight: bold;
    padding: 5px 0;
  }

  .input {
    display: block;
    margin-bottom: 0.5em;
    font-weight: normal;
    background-color: #E2E4E6;

    &:focus {
      background: #fff;
      border-color: #298FCA;
      box-shadow: #298FCA;
    }
  }

  .button {
    margin-top: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
  }
}

.menu-section {
  padding: 0 10px;
}

/* Home Nav Bar */

.home-nav {
  z-index: 1;
  position: relative;
  height: 29px;
  padding: 5px;
  background: rgba(0,0,0,.15);
  box-shadow: 0 1px 1px rgba(0,0,0,.1);

  .nav-item {
    float: left;
  }

  .nav-button {
    padding: 3px 6px;

    color: #f3f3f3;
    background: linear-gradient(
      to bottom,
      rgba(255,255,255,.3) 0,
      rgba(255,255,255,.2) 100%
    );
    border-radius: 3px;

    font-weight: bold;

    user-select: none;
    cursor: pointer;

    &:hover {
      color: #fff;
      background: linear-gradient(
        to bottom,
        rgba(255,255,255,.4) 0,
        rgba(255,255,255,.3) 100%
      );
    }

  }

  .dropdown {
    top: 42px;

    &.dropdown-create {
      right: 4px;

      .board-create-menu {
        left: -1px;
        top: -1px;
      }
    }

    &.dropdown-profile, &.dropdown-information {
      right: 4px;
    }

    &.dropdown-information p {
      padding: 0 9px;
    }
  }

  .logo {
    position: absolute;
    left: calc(50% - 97px);
    width: 194px;
    height: 30px;

    background-size: contain;
    background-image: image-url('logo.png');
    filter: opacity(60%);

    &:hover {
      filter: opacity(85%);
    }
  }

  .icon-logo {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-bottom: -2px;
    margin-right: 10px;
    background-size: contain;
    background-image: image-url('icon.png');
  }

  .icon {
    display: block;
    margin: 1px 0;
    width: 21px;
    height: 21px;
    background-size: contain;

    &.icon-search {
      float: right;
      background-image: image-url('ic_search_white_24px.svg');
      transform: scaleX(-1);
    }

    &.icon-add {
      background-image: image-url('ic_add_white_24px.svg');
    }

    &.icon-info {
      background-image: image-url('ic_info_outline_white_24px.svg');
    }

    &.icon-notifications {
      background-image: image-url('ic_notifications_none_white_24px.svg');
    }
  }

  .search {
    width: 165px;
    background-color: rgba(255,255,255,.1);
    text-align: right;

    &:hover {
      background-color: rgba(255,255,255,.2);
    }
  }

  .profile-button {
    position: relative;
    overflow: hidden;
  }

  .initials {
    padding: 7px 2px;
    position: relative;
    left: -6px;
    vertical-align: top;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

    color: #4d4d4d;
    background-color: #d6dadc;
    font-size: 12px;

    &:hover {
      background-color: #caced0;
    }
  }

  .name-with-image {
    padding-left: 28px;
  }

  .image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 29px;
    height: 29px;
    overflow: hidden;
  }

  .dropdown-boards {

    .menu-header {
      margin-left: 10px;
      text-align: left;

      &:after {
        content: none;
      }
    }

    ul {
      margin-bottom: 10px;
    }

    ul:before {
      content: none;
    }

    li {
      padding: 2px 10px;

      a.board-link {
        position: relative;
        display: block;
        z-index: 0;
        padding: 0;
        color: #444;
        border-radius: 3px;
        overflow: hidden;

        font-weight: bold;
        text-decoration: none;

        &.blue {
          background-color: #0079BF;
        }

        &.orange {
          background-color: #D29034;
        }

        &.green {
          background-color: #519839;
        }

        &.red {
          background-color: #B04632;
        }

        &.purple {
          background-color: #89609E;
        }

        &.pink {
          background-color: #CD5A91;
        }

        &.light-green {
          background-color: #4BBF6B;
        }

        &.light-blue {
          background-color: #00AECC;
        }

        &.grey {
          background-color: #838C91;
        }

        &:hover {
          color: #444;

          &:before {
            background: rgba(255, 255, 255, .78);
          }
        }

        &:before {
          z-index: -1;
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba(255, 255, 255, .88);

        }
      }
    }

    .board-color {
      opacity: .7;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      vertical-align: middle;
      width: 36px;
      height: 36px;
    }

    a:hover .board-color {
        opacity: 1;
    }


    .blue .board-color {


      background-color: #0079BF;
      // border-top-left-radius: 3px;
      // border-bottom-left-radius: 3px;
    }

    .blue .board-color {
      background-color: #0079BF;
    }

    .orange .board-color {
      background-color: #D29034;
    }

    .green .board-color {
      background-color: #519839;
    }

    .red .board-color {
      background-color: #B04632;
    }

    .purple .board-color {
      background-color: #89609E;
    }

    .pink .board-color {
      background-color: #CD5A91;
    }

    .light-green .board-color {
      background-color: #4BBF6B;
    }

    .light-blue .board-color {
      background-color: #00AECC;
    }

    .grey .board-color {
      background-color: #838C91;
    }

    .board-title {
      padding-left: 46px;
      display: inline-block;
      // vertical-align: middle;
      height: 36px;
      line-height: 36px;
    }
  }

}

.nav-left > li {
  margin-right: 8px;
}

.nav-right > li {
  margin-left: 8px;
}

.user-icon {
  display: block;
  flex: none;
  width: 40px;
  height: 40px;
  overflow: hidden;

  margin-right: 5px;

  text-align: center;
  line-height: 40px;

  font-size: 12px;
  font-weight: bold;
  color: #4d4d4d;
  background-color: #D6DADC;
  border-radius: 3px;

  user-select: none;
  cursor: default;

  &.large {
    width: 85px;
    height: 85px;
    line-height: 85px;

    font-size: 28px;

    color: #444;
    background-color: #D6DADC;

  }
}
