
.user-profile {
  min-height: calc(100% - 39px);

  background-color: #EDEFF0;

  h1 {
    margin: 5px 0 20px;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
  }

  .user-icon.large {
    margin-right: 20px;

    cursor: pointer;
  }

  .profile {
    margin: 0 auto;
    padding-top: 10%;
    max-width: 650px;

    display: flex;
  }

  .bio {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .profile-errors {
    margin-bottom: 1.2em;
    padding: .5em 1em;
    border: 1px solid #eb5a46;
    border-radius: 4px;
    background: #f5d3ce;
  }

  .button {

    display: inline-block;

    border-radius: 3px;
    box-shadow: 0 1px 0 #959DA1;

    color: #000;
    font-size: 14px;
    font-weight: bold;

    &.green {
      color: #fff;
      background-color: linear-gradient(to bottom,#61BD4F 0,#5AAC44 100%);
      box-shadow: 0 1px 0 #3F6F21;
    }

    &.green, &:not(.edit) {
      padding: 0.5em 1.5em;
    }

    &.edit {

      height: 36px;
      margin: 0;
      padding: 0 15px;

      border: 1px solid #E2E4E6;
      border-bottom-color: #CDD2D4;
      box-shadow: none;

      line-height: 36px;
      background-color: #fff;

      cursor: pointer;

      &:hover {
        color: #fff;
        background: #298FCA;
        border-color: #298FCA #298FCA #026AA7;
      }
    }
  }

  .input {
    background-color: #E2E4E6;

    &:focus {
      background-color: #fff;
      border-color: #298FCA;
      box-shadow: 0 0 2px #298FCA;
    }

    &.error {

      background: #f5d3ce;

      &:focus {
        background: #fbedeb;
        border: 1px solid #ec9488;
        box-shadow: 0 0 6px #ec9488;
      }
    }
  }
}
